files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGbDCCBFSgAwIBAgIQK8L8sJZWQ2C5kTtkYyamtzANBgkqhkiG9w0BAQwFADBL
        MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
        TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTIyMDIyMTAwMDAwMFoXDTIy
        MDUyMjIzNTk1OVowGjEYMBYGA1UEAxMPYXBpLmtvby1iZW4uY29tMIIBIjANBgkq
        hkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAxWFt80dMaCS/X/QL7tpJToKVCjZ4faJ/
        2qmjbsFpGhkk705dC/P4gG3cPRvY42rFC511qgfUIaIunkHZIC8MZGBzXCNxmvsr
        /UKB9vqWUe9j6odtjx8O7nMl37lx9w4ROzKzHAXoHFFkoGebcrJju979rJETyMie
        zcF+m/FQN1hXHfocUkuDXj+m/sIh+mNepnvCXpbqVRW6nCPLH1jXC7eSFtD8G9Hf
        ZJLaVV+TsyWyrmW5z1GcWFhgn7O2zV/9fTM86FdqyGZXZN40NtyFTZXYpqjzgynU
        juGQdWBbTGvc5kh357mrLP5eCUfAVCV0M6ok5HJGIw9iqkw4EDrXewIDAQABo4IC
        ezCCAncwHwYDVR0jBBgwFoAUyNl4aKLZGWjVPXLeXwo+3LWGhqYwHQYDVR0OBBYE
        FGePJR1tHBo4uedkq7nel2+ytVSNMA4GA1UdDwEB/wQEAwIFoDAMBgNVHRMBAf8E
        AjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjBJBgNVHSAEQjBAMDQG
        CysGAQQBsjEBAgJOMCUwIwYIKwYBBQUHAgEWF2h0dHBzOi8vc2VjdGlnby5jb20v
        Q1BTMAgGBmeBDAECATCBiAYIKwYBBQUHAQEEfDB6MEsGCCsGAQUFBzAChj9odHRw
        Oi8vemVyb3NzbC5jcnQuc2VjdGlnby5jb20vWmVyb1NTTFJTQURvbWFpblNlY3Vy
        ZVNpdGVDQS5jcnQwKwYIKwYBBQUHMAGGH2h0dHA6Ly96ZXJvc3NsLm9jc3Auc2Vj
        dGlnby5jb20wggEEBgorBgEEAdZ5AgQCBIH1BIHyAPAAdQBGpVXrdfqRIDC1oolp
        9PN9ESxBdL79SbiFq/L8cP5tRwAAAX8bw5qBAAAEAwBGMEQCIBMQGhGRODVr9wr+
        /SwIBK9KMcf5HEtnVbsJq/LluteoAiBDJEHWRVO68hjBwIrJ8/3DD5lS8Q6KmyET
        PsfZVYryLAB3AEHIyrHfIkZKEMahOglCh15OMYsbA+vrS8do8JBilgb2AAABfxvD
        mkIAAAQDAEgwRgIhAM/NFoNNC/V2i8E45P0MGycyGTs5641OFgcp5lvPbUk+AiEA
        6b1BktPoIOk21dRHcO8V+eL15pM32DYmCrh8PdEglX4wGgYDVR0RBBMwEYIPYXBp
        Lmtvby1iZW4uY29tMA0GCSqGSIb3DQEBDAUAA4ICAQA0VUg3Ybs2rpE52WmqlWPj
        aebZrat5ddgYaLZO/S9Pp4fHEbfnVLEyGINd5RgiIe/WS8TfxIsE75Y3ZDYTFy1A
        9HEOwn9QUit6s+izdY10Fiw0T34FnipTFBX21u05uHfO37yzrJX8oidyBLMxyTbZ
        W/BdPjlLI89KiN7CHebJVIQ2/lEhcNNrrVHsrjdKXRB8DjdStnIxRC40XsM6DcWb
        MmEEmexTXdlkQRI8wbL0Y8NzEvrJOAuGlC6+DjO8oTCEdQiVv54ijaWcbx9TtW7b
        hj24Ejqg3lWIruLQesWguFiT66krsZT5AN+byneH6JXOzFkTqQtiwhRcKbGHfXJr
        s5v6Qlmj1rEwQRhlEw/FDqDYJRcnqrFxeOj8QV+gGTiKwMJKtZJ0Lf4ibTOqYJKC
        PKSTMwuMA2EJgr6zvkDsjvb0Tw0iVbKivBGdBKDn5XBcmcW9wA1TrEhtE/jRNtMy
        49eqlK7H9RXh0l3DKj1vvtXVuSfM/9mXiTNF+DVA4k73xtZcm3Iz3n8BVyxWmbnw
        m15wuDYhcSnW+zRXiGsyhMPddqXYanTgNBw/sMITxdeGoyUxxPiLBz0AifQw7EZU
        H4HlTHUbIzWvTTAm2cddtLv601Drs3kQ294xCSODHX4j+LrXN4siXd921Rh51fH6
        gwN/d+wyutlOwGDHaqlK+Q==
        -----END CERTIFICATE-----


      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEowIBAAKCAQEAxWFt80dMaCS/X/QL7tpJToKVCjZ4faJ/2qmjbsFpGhkk705d
        C/P4gG3cPRvY42rFC511qgfUIaIunkHZIC8MZGBzXCNxmvsr/UKB9vqWUe9j6odt
        jx8O7nMl37lx9w4ROzKzHAXoHFFkoGebcrJju979rJETyMiezcF+m/FQN1hXHfoc
        UkuDXj+m/sIh+mNepnvCXpbqVRW6nCPLH1jXC7eSFtD8G9HfZJLaVV+TsyWyrmW5
        z1GcWFhgn7O2zV/9fTM86FdqyGZXZN40NtyFTZXYpqjzgynUjuGQdWBbTGvc5kh3
        57mrLP5eCUfAVCV0M6ok5HJGIw9iqkw4EDrXewIDAQABAoIBAFpIc3t43Gkyjdr9
        DUxGyos/zZ5rRffpkWPafmgVzdZjM/LGPGdQRBWyqq/FAhMb7l+euYh5pj1wKrS2
        1/MRsjBjscCucbN7OibQ+hOXkZSO1HwdUC7L/Q9y2hsYfxmLdLRIP4cM6JuzWzzH
        x2HSWS5BFHWPsqX/pivlWt1HpvJ5BzPItetul/zNGBYkrujWeNZLOVzOhGrffCHX
        cjxRqv8xixYJZTTCaHlNfFtDNVaqehyEaWkmk5/ixnwDvLt/A2xZS1QiHJ5VwEei
        KVhdY8BIv81/xC2p+MbvVo7wFPB7YKIviKNfehyHugADtCjrWmsMpQGqvMkKwQ9T
        gtPlJDkCgYEA6Mo1CG6dgYlgYW4xsGXeSd5cVORPxugg6SK2T42qLeX4ezgjDCYY
        VXQkH5a7ahLfvvDqyeFx0VtHJ48DW4yMWSwQBmblIkJYjI4eJ3iGSlUuuWH48zZR
        4AehVbx51Dk7Fxq9nfmgQmIIb/Sfz5eExmPd24mC8JZmRHwlvP4r84UCgYEA2Q9t
        CLfOU7eSNXTaso4/kb9v60Cz+iy2LZ3p5BlmHJuZyOVRwXwI5d+b/DasSZVYAd+r
        YEQ6xSs/XogMhWDjOlNM8QeyuAQ6OodXta73ohM46X/FI9+mwM/FRJm91g41hRM3
        V1+Ik87hwRhFWsEOMzWyABSTtufuJRaeOcM6Dv8CgYBN0lN6VyhWhqtuxtzboKJ4
        RVrOkmjNEQr3hUA3Rh+vKmMwJispQ478+k+dM9HBez/LYFTNWo2nNIGMCvZPY6QD
        p4RP75QIKO/bRSN1hIg4T1PIa6VDAVTLtSFNPS3pMZy8c5cSOcJGjulNLBVE291q
        STaAzu60KUNU/7/J95qP1QKBgF1A31srfJ1C9LG6rmqf6ne3g2HSvn/wzaPzgBTb
        RJ9tyjghLWqu2zPHScClzIcgflrvuTT2mzkyR1tZn+d9pKHeP+Qdpo6gYlPa6bfI
        n+Ml1wGaPxwWbhHQMbQzSPe5ywyNIO2MwaSe8SaAQuumnW8q1npqXLvsEMgmW3v9
        f+gJAoGBAJYunO8123OFlK+MDpglzifhXWtkOR34DJ9ejPa/8gcQpf0GZjoX9sBQ
        5DnjKiYyPdNpqLdw8NAGiOCGrTIDeC7DwFLLk/09u0tyveib7QTQdrnyh0DNwGJw
        F0jTCy+HbLE5ECrmehxt4660/iWTlIuF6d0H5igRtZgvTdvqRdi/
        -----END RSA PRIVATE KEY-----